.home {
	font-size: 18px;
	
	&-header {
		&-toolbar {
			--background: #F0AE43;
			color: #FFFFFF;
		}
	}
	
	&-content {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		--background: #E5E5E5;
	
		&-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #F0AE43;
			border-bottom-left-radius: 60% 12%;
			border-bottom-right-radius: 60% 12%;
			color: #FFFFFF;

			&__fullname {
				font-size: 2em;
				transform: translateY(1.7em);
			}
		
			&__code {
				font-size: 1em;
				transform: translateY(4.2em);
			}
		
			&__photo {
				width: 11em;
				height: 11em;
				border-radius: 100%;
				border: 15px solid #EFCF95;
				transform: translateY(50%);
				background-color: #8B8F9D;
			}
		}
	}
	
	&-actions {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		font-size: 2em;
		color: #8B8F9D;
		margin-top: 1em;
		height: 6em;

		&__icon {
			border-radius: 5.5em;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		&__icon:nth-child(4n+1) {
			width: 1.65em;
			height: 1.65em;
			background-color: #EBECEF;
			transform: translateY(0px);
		}
		
		&__icon:nth-child(2) {
			width: 1.7em;
			height: 1.7em;
			background-color: #EBECEF;
			transform: translateY(1.6em) translateX(-25%);
			font-size: 1.2em;
		}
		
		&__icon:nth-child(3) {
			font-size: 2em;
			width: 1.5em;
			height: 1.5em;
			background-color: #EBECEF;
			transform: translateY(1.5em);
		}
		
		&__icon:nth-child(4) {
			width: 1.7em;
			height: 1.7em;
			background-color: #EBECEF;
			transform: translateY(1.6em) translateX(25%);
			font-size: 1.2em;
		}
	}
	
	&-suggestions {
		margin: 2.6em;
		color: #A1A4AF;

		&-item {
			display: flex;
			flex-direction: column;
			padding: 1.2em 1.6em;
			background-color: #FFFFFF;
			border-radius: 5px;
			
			&__title {
				font-size: 1.1em;
				font-style: italic;
			}
			
			&__icon {
				font-size: 8em;
				align-self: center;
			}
			
			&__label {
				margin-top: .6em;
				text-align: center;
				font-size: 1.35em;
			}
		}
	}
}

@media (max-width: 576px) {
	.home {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.home {
		font-size: 12px;
	}
}

@media (max-width: 992px) {
	.home {
		font-size: 14px;
	}
}

@media (max-width: 1200px) {
	.home {
		font-size: 18px;
	}
}