.tab-bar {
	font-size: 18px;
	height: 3em;
}

.tab-button {
	font-size: .8em;
	--color-selected: #F0AE43;
	
	&__icon {
		font-size: 2em;		
	}
}

@media (max-width: 576px) {
	.tab-bar {
		font-size: 10px;
	}
}

@media (max-width: 768px) {
	.tab-bar {
		font-size: 12px;
	}
}

@media (max-width: 992px) {
	.tab-bar {
		font-size: 14px;
	}
}

@media (max-width: 1200px) {
	.tab-bar {
		font-size: 18px;
	}
}